{% extends "player/playerbase.html" %}


{% block content %}

    <div class=leaderboards>
        <div class=leaderboards>

            <h2>User Leaderboard:</h2>

            <table>
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_acc_leaderboard %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2>Accommodation Leaderboard:</h2>

            <table>
                <thead>
                <tr>
                    <th>Accommodation</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for accom in acc_leaderboard %}
                    <tr>
                        <td>{{ accom.accommodation }}</td>
                        <td>{{ accom.points__sum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}