{% extends "player/playerbase.html" %}


{% block content %}
    <script>
        var dailyPoints =
        {{ daily_points }}
    </script>

    <div class=main>
        <h1>Overview</h1>
    </div>

    <div class="user-points">

        <h3 class="user-points-title"> User points: {{ user_points }}  </h3>
        <h4 class="daily-user-points-title"> User points: {{ daily_points }}  </h4>

    </div>

    <div id='level-progress'>
        <h3 id="current-level">Current Level: {{ current_level }}</h3>
        <h3 id="level-progress-title">Progress to next Level</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{ level_progress }}%"
                 aria-valuenow="{{ level_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>




    <div>
        <div id="fact-of-day" style="filter:blur({{ blur_strength }}px)">{{ fact_today }}</div>
        <h3>Progress to fact of the day!</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:{{ fact_progress }}%"
                 aria-valuenow="{{ fact_progress }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

    </div>






    <div class=leaderboards>

        <h2 class="leaderboard-title">User Leaderboard Top 5:</h2>

        <table id='user_leaderboard'>
            <thead>
            <tr>
                <th>Username</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_acc_leaderboard %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="leaderboard-title">Accommodation Leaderboard Top 5:</h2>

        <table id='accommodation_leaderboard'>
            <thead>
            <tr>
                <th>Accommodation</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for accom in acc_leaderboard %}
                <tr>
                    <td>{{ accom.accommodation }}</td>
                    <td>{{ accom.points__sum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}