{% extends "player/playerbase.html" %}



{% block content %}

    <div class=main>

        Overview

    </div>

    <div class=leaderboards>

        User Leaderboard Top 5:

        {% for user in user_acc_leaderboard %}
            <br> {{ user.username }} {{ user.points }}

        {% endfor %}

        <br> Accommodation Leaderboard Top 5:

        {% for accom in acc_leaderboard %}
            <br> {{ accom.accommodation }} {{ accom.points__sum }}
        {% endfor %}

    </div>


{% endblock %}


