{% extends "player/playerbase.html" %}

{% block content %}


    <div class="overview" >
        <h1>Overview</h1>
    </div>
    <br>

    <div id="fotd-container">
        <h2 class="leaderboard-title">
            Fact of the day:
        </h2>

        <div class="fact-of-the-day">
            <p>Unlocked soon</p>
        </div>
    </div>
    
    <div id="progress-container">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%; background-color: rgb(170, 225, 170) !important;">40%</div>
        </div>
    </div>
    <br>

    <div class=leaderboards>

        <h2 class="leaderboard-title">User Leaderboard Top 5:</h2>

        <table id='user_leaderboard'>
            <thead>
            <tr>
                <th>Username</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_acc_leaderboard %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="leaderboard-title">Accommodation Leaderboard Top 5:</h2>

        <table id='accommodation_leaderboard'>
            <thead>
            <tr>
                <th>Accommodation</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for accom in acc_leaderboard %}
                <tr>
                    <td>{{ accom.accommodation }}</td>
                    <td>{{ accom.points__sum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
    // on page load...
    moveProgressBar();
    // on browser resize...
    $(window).resize(function() {
        moveProgressBar();
    });

    // SIGNATURE PROGRESS
    function moveProgressBar() {
      console.log("moveProgressBar");
        var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
        var getProgressWrapWidth = $('.progress-wrap').width();
        var progressTotal = getPercent * getProgressWrapWidth;
        var animationLength = 2500;
        
        // on page load, animate percentage bar to data percentage length
        // .stop() used to prevent animation queueing
        $('.progress-bar').stop().animate({
            left: progressTotal
        }, animationLength);
    }
    </script>

{% endblock %}