@media screen and (max-width: 1000px) {
    * {
        display: block;
    }

    td {
        justify-content: center;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #question {
        text-align: center;
    }

    .wide {
        width: auto !important;
    }
}


body {
    margin: 0 0;
    padding-right: 10px;
}

#regForm {
    background-color: rgb(238, 238, 238);
    margin: 100px auto;
    font-family: Raleway;
    overflow: hidden;
    padding: 30px;
    max-width: 60%;
    min-width: 300px;
    border-radius: 30px;
    min-height: 10%;
}

h1 {
    text-align: center;
}

td {
    height: 50px;
    padding-bottom: 5px;
}

.wide {
    width: 1vw;
}

table {
    width: 100%;
    max-width: 100%;
}

tr {
    max-width: 100%;
}

#title {
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

th {
    padding-left: 3px;
    padding-right: 3px;
}

.radioBtn {
    background-color: red;
    height: 1.2rem !important;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

textarea {
    resize: none;
    width: 100%;
    font-family: Raleway;
    font-size: 1rem;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    margin-right: 15px;
    background-color: #F5DEB3;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
    color: black;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04aa6d;
}

select {
    /* styling */
    background-color: white;
    border: thin solid lightgray;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    cursor: pointer;
    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
}

select {
    /* styling arrow */

    background-image: linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(135deg, white 50%, transparent 50%),
        linear-gradient(to right, gray, gray);
    /* left half of arrow | right half of arrow | right -> left arrow box */

    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

select:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, rgb(75, 75, 75), rgb(75, 75, 75));
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

select.invalidSelect {
    border: thin solid red;
}

.topInputs {
    margin: 10px auto;
}

/* Checkbox Styling */

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.styled-checkbox:checked+.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #1E90FF;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-label a {
    color: #1E90FF;
    text-decoration: none;
}

.checkbox-label:hover a {
    text-decoration: underline;
}