body {
  background-image: url(woodbackground.jpg);
  color: #333333;
  margin-top: 5rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #00ca96;
}

.site-header .navbar-nav .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #00ca96;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.center {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


.index {
  text-align: center;
  vertical-align: middle;
  /* margin: 0 auto; */
  font-family: 'Abril Fatface';
  color: rgb(217, 222, 148);

}

.startRedirect {
  display: inline-block;
  padding: 25px 40px;
  background-color: #00ca96;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.startRedirect:hover {
  background-color: #01b689;
  text-decoration: none;
  color: rgb(59, 59, 59);
}