body {
  background-image: url(woodbackground.jpg);
  background-size: 100vw 200vh;
  background-repeat: no-repeat;
  background-color: #2d2c2c;
  color: #333333;
  height: 100%;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #F5DEB3;
}

.site-header .navbar-nav .nav-link {
  color: black;
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.center {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}

.index {
  text-align: center;
  vertical-align: middle;
  font-family: Raleway;
  color: rgb(234, 234, 234);
}

.startRedirect {
  display: inline-block;
  padding: 25px 40px;
  background-color: #F5DEB3;
  color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.startRedirect:hover {
  background-color: #e3c896;
  text-decoration: none;
  color: rgb(35, 51, 227);
}