/* CSS file for leaderboard tables */

/* Style for the user leaderboard table */
#user_leaderboard {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#user_leaderboard th,
#user_leaderboard td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#user_leaderboard th {
    background-color: #f2f2f2;
}

/* Style for the accommodation leaderboard table */
#accommodation_leaderboard {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#accommodation_leaderboard th,
#accommodation_leaderboard td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#accommodation_leaderboard th {
    background-color: #f2f2f2;
}

.leaderboard-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}