/* Style for the user leaderboard table */
#user_leaderboard {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#user_leaderboard th,
#user_leaderboard td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#user_leaderboard th {
  background-color: #f2f2f2;
}

/* Style for the accommodation leaderboard table */
#accommodation_leaderboard {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#accommodation_leaderboard th,
#accommodation_leaderboard td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#accommodation_leaderboard th {
  background-color: #f2f2f2;
}

.leaderboard-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
}

/*fact of the day styling*/

.rectangular-box {
  width: fit-content;
  position: absolute;
}

#fact-of-day {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  margin-top: 40px;
}

#fact-progress-title {
  text-align: center
}


/*player info styling*/

#overview-title {
  text-align: center;
  margin-top: 40px;
}

#current-level {
  text-align: center;
}

#level-progress-title {
  text-align: center
}