body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  background: linear-gradient(to bottom, #222, #111);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.sidenav a {
  padding: 12px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  background-color: #fff;
  color: #111;
}

.main {
  padding: 20px 20px 20px 180px;
}