#challenge-title {
    text-align: center;
    color: #000000;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}


#challenge-body {
    font-family: Raleway;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
}


.challenge-container {
    padding: 20px;
  max-width: 800px;
  margin: 0 auto;

}

.challenge {
    border: 2px solid #c7b593;
    color:black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f5deb3;
    padding: 20px;
    position: relative; /* to make the bar positioning relative to this element */
}

.challenge:before { /* create the brown bar */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
}

.completeBorder{
border: 2px solid rgb(26, 128, 26);
}

.incompleteBorder{
border: 2px solid red;
}

.challenge-desc {
    font-size: 24px;
    font-weight: bold;
}

.challenge-status {
    font-size: 20px;
}

.completed {
    color: green;
}

.todo {
    color: red;
}
