#challenge-title {
    text-align: center;
    color: #000000;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}


#challenge-body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
}


.completed {
    background-color: green;
}

.todo {
    background-color: red;
}
