/* CSS file for leaderboard tables */


/* Style for the user leaderboard table */

#leaderboard {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#leaderboard th,
#leaderboard td {
    margin: 0 0;
    padding: 15px;
    border-bottom: 1.5px solid #727272;
}

#leaderoard tr {
    border-bottom: black;
    
}

#leaderboard td {
    background-color: rgb(206, 203, 203);
    color:black
}

#leaderboard th {
    background-color: #085611;
    color:white
}
.leaderboard-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.floatRight{
    float:right;
}
.floatLeft{
    float:left;
}