#map {
    position: absolute;
    margin: 40px auto 40px 20px;
    /* margin-left: 20px; */
    top: 0;
    bottom: 0;
    width: 80%;
}

.marker {
    background-image: url('../../static/bin.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: Raleway;
}

#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}


#green-message {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#location-button {
    position: absolute;
    bottom: 10px;
    /* left: 20%; */
    transform: translateX(-5%);
    padding: 10px;
    border: none;
    background-color: #1c1c1c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #final-location-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  transform: translateX(5%);
  padding: 10px;
  border: none;
  background-color: #1c1c1c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  }