body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    margin: 40px;
    top: 0;
    bottom: 0;
    width: 80%;
}

.marker {
    background-image: url('../../static/bin.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: Raleway;
}

#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}


#green-message {
    position: fixed;
    bottom: 0;
    width: 100%;
}