body {
  font-family: Raleway;
  font-size: 16px;
  padding: 0px 20px;  
  background-image: url(woodplayerbackground.png);
  background-position: center;
  background-size: 100% 1000vh;
  background-repeat: no-repeat;
  background-color: #2d2c2c;
  color: #ffffff;
  height: 100%;
}

.main {
  padding: 20px 20px 20px 180px;
}

/*profile  styling */

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*base 2 styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

/* Side navbar */
.side-navbar {
  text-align: left;
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #0c3010;
  transition: 0.5s;
}

.sidenav-container {
  transition: 0.4s;
  margin-left: -10px;
}

.side-navbar a {
  padding: 10px;
  font-size: large;
  text-decoration: none;
  color: #dedede
}

.side-navbar a:hover {
  background-color: rgb(137, 137, 137);
}

.active-sidebar {
  margin-left: -20px;
}

/* side navbar button */
.sidenav-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.active-cont {
  margin-left: 230px;
}

#menu-btn {
  background-color: #0c3010;
  color: #fff;
  margin-left: -62px;
  margin-top: 30px;
  position: fixed;
}

/* pages */

@import "compass/css3";

.progress {
  width: 100%;
  height: 50px;
  font-size: large;
}


#progress-container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

#sidenav {
  z-index: 9999;
  position: fixed;
}
/*styling of riddle form*/

#riddle-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  color: #444;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  vertical-align: -5px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

input[type="radio"]:checked + label:before {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
