h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#scannerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    max-width: 600px;
}

.verticalMid{
    padding-top: 150px;
}

#reader {
    width: 100%;
    max-width: 450px;
    position: relative;
    padding: 25px 10px !important;
    background-color: rgb(211, 211, 211);
    border-radius: 15px;
    border: 1px solid rgb(107, 107, 107) !important;
}

#html5-qrcode-button-camera-permission {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}


#result {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

.updateBtn {
    display: none;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 550px;
    left: 60%;
    transform: translateX(-50%);
}

.updateBtn::hover {
    background-color: #555;
}