	.news-title {
		font-size: 2rem;
	}

	.news-summary {
		font-size: 1.5rem;
		text-justify: distribute;
	}

	.news-link {
		font-size: 1.2rem;
		padding: 15px;
		background-color: #00ca96;
		border-radius: 10px;
		color: white;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
	}

	.news-link:hover {
		cursor: pointer;
		background-color: #81ffdf;
		color: black;
	}

	.newsBlock {

		background-color: rgb(241, 241, 241);
		padding: 25px;
		border-radius: 20px;
		margin: 20px auto;
		width: 80%;
		max-width: 2000px;
	}