

{% extends "sitePage/base.html" %}
{%load widget_tweaks%}

{% block content %}
    {% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>EcoExeter - Register</title>
</head>

<body>

        

    <form id="regForm" method="POST">
    {% csrf_token %}

        <h1>Register</h1>
		<br>
        <div>
            <div class="tab">
				<p>
                    {% render_field form.email placeholder="Email" id="emailInput" onblur="emailCheck()" %}
                    <div id="wrongEmail" style="display: none;">
                        <li id="wrongEmailLi"></li>
                    </div>
                </p>
				<p>
				{% render_field form.username placeholder="Username" %}
				</p>
            </div>


            <div class="tab">

                <div class="container">
                    <table>
                        <tr>
                            <td id="question" style="width:40%">Accomodation</td>
                            
                            <td class="wide">
                                {% render_field form.accommodation id="accomSelect" class="groupSelect" style="height:40px; width:20rem;"%}
                            </td>
                        </tr>
						
                    </table>
                </div> 
            </div>

  

           <div class="tab">
                <p>
                    <li id="passReq1">Password must be at least 8 characters long</li>
                    <li id="passReq2">Password must contain at least one number</li>
                    <li id="passReq3">Password must contain at least one non-numeric character</li>
                    <li id="passDuplicate" style="display: none;">Passwords do not match</li>
                </p>
            <p>
                {% render_field form.password1 placeholder="Password" id="password" onblur="passwordCheck()" %}
            </p>
            <p>
                {% render_field form.password2 placeholder="Confirm Password" id="password2" onblur="duplicatePasswords()" %} 
            </p>              

            </div>


        </div>


        <div style="overflow:auto;" class="buttons">
            <br>
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" style="width:100px" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
		<br>
        <div style="text-align:center;margin-top:0px;margin-bottom:0px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>

        </div>
        <div> 
			<br>
          <a href="/login" style="float:right">Already have an account? </a>
        </div>
        
    </form>

</body>
{%load static%}
    <script src="{% static '/js/form.js' %}"></script>

</html>

{% endblock content %}