<html>
    <link rel="stylesheet" href="static/style.css">
    
    <head>
        <title>Welcome to your homepage!</title>
    </head>
    <body>
        <div class="sidebar">
          <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a href="/" class="btn active">Home</a>
          <a href="/page1/" class="btn">Page 1</a>
          <a href="/page2/" class="btn">Page 2</a>
        </div>
      </body>
      
</html>