<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="../../static/form.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="../../static/unilogo.png"
			type="image/x-icon"
		/>
		<title>Login</title>
	</head>
	<body></body>
</html>

<div class="wrap">
	<div class="loginbox">
		<div class="content">
			<form>
				<h1>Login</h1>

				<div class="input-box">
					<input type="text" required />
					<i class="fa-solid fa-user"></i>
					<span>Username</span>
				</div>

				<div class="input-box">
					<input type="password" required />
					<i class="fa-solid fa-lock"></i>
					<span>Password</span>
				</div>
				<br />

				<div class="links">
					<a href="#">Forgot Password?</a>
					<a href="../register">Sign Up</a>
				</div>
				<br />

				<div class="input-box">
					<input type="submit" value="Login" />
				</div>
			</form>
		</div>
	</div>
</div>
