<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../static/form.css" />
		<link
			rel="shortcut icon"
			href="../../static/unilogo.png"
			type="image/x-icon"
		/>

		<title>Register</title>
	</head>
	<body>
		<div class="wrap">
			<div class="registerbox">
				<div class="content">
					<form>
						<h1>Register</h1>

						<div class="input-box">
							<input type="text" required />
							<i class="fa-solid fa-user"></i>
							<span>Email</span>
						</div>

						<div class="input-box">
							<input type="password" required />
							<i class="fa-solid fa-lock"></i>
							<span>Username</span>
						</div>

						<div class="input-box">
							<input type="text" required />
							<i class="fa-solid fa-user"></i>
							<span>Accomodation</span>
						</div>

						<div class="input-box">
							<input type="password" required />
							<i class="fa-solid fa-lock"></i>
							<span>Password</span>
						</div>

						<div class="input-box">
							<input type="password" required />
							<i class="fa-solid fa-lock"></i>
							<span>Confirm Password</span>
						</div>
						<br />

						<div class="links">
							<a href="../login">Already have an account?</a>
						</div>
						<br />

						<div class="input-box">
							<input type="submit" value="Login" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

<style></style>
