
{% extends "sitePage/base.html" %}
{% block content %}
    <div class="about-content">
        <h1 class='about-page-title'>About Page</h1>
        <p class="mission-statement">
            Our mission at EcoExeter is to inspire and empower individuals to live more sustainable lives and make a
            positive impact on the environment.

            Our app provides users with practical tips, resources, and personalized recommendations to reduce their
            environmental impact, conserve resources, and promote sustainable living practices.

            We aim to create a supportive and inclusive community of individuals who are committed to taking action and
            making a difference.

            We believe that by working together, we can create a better future for ourselves and future generations.

            Through our app, we hope to inspire optimism, hope, and a sense of purpose in our users as we work towards a
            more sustainable world.
        </p>
    </div>
{% endblock content %}








