
{% extends "sitePage/base.html" %}
{% block content %}
    <div class="about-content">
        <br><br><br><br><br>
        <h1 class='page-title'><b>About Us</b></h1><br>
        <p class="mission-statement">
            Our mission at EcoMystery is to inspire and empower individuals to live more sustainable lives and make a positive impact on the environment.
            <br><br>
            Our app provides users with a fun way to reduce their environmental impact, conserve resources, and live a more sustainable life.
            <br><br>
            We aim to create a supportive and inclusive community of individuals who are committed to taking action and making a difference.
            <br><br>
            We believe that by working together, we can create a better future for ourselves and future generations.
            <br><br>
            We hope to inspire optimism, hope, and a sense of purpose in our users as we work towards a more sustainable world.
        </p>
    </div>
{% endblock content %}








