{% extends "sitePage/base.html" %}
{% block content %}
<body>
    <br><br><br><br><br>
    <div class="index">
        <div>
            <h1>
                Welcome detective
            </h1><br><br><br>
            <h2>
                A heinous crime has been committed, the culprit is on the run!
            </h2><br><br><br>
            <h2>
                It is your duty to find and detain the culprit and bring justice to Exeter.
            </h2><br><br><br>
            <a href="{% url 'register' %}" class="startRedirect"><h4><b>Are you ready for the job?</b></h4></a>
            </div>
    </div>
</body>

{% endblock content %}



