{% extends "game/playerbase.html" %}


{% block content %}
    <!DOCTYPE html>

    <body id="challenge-body">

    <h1 id="challenge-title"> Challenges</h1>

    {% for challenge in challenge_list %}
        <p class="{% if challenge.status %}completed{% else %}todo{% endif %}">
            Challenge Description: {{ challenge.description }}
            {% if challenge.status %}
                Challenge Status: complete!
            {% else %}
                Challenge Status: To do
            {% endif %}
        </p>
    {% endfor %}


    </body>

{% endblock %}