{% extends "game/playerbase.html" %}


{% block content %}

    <html>
    <head>
        <meta charset="utf-8">
        <title>Add a default marker to a web map</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
        
        <script>
            var bin_info = JSON.parse('{{bin_info}}');

        </script>
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            #map {
                position: absolute;
                margin: 40px;
                top: 0;
                bottom: 0;
                width: 80%;
            }

            .marker {
                background-image: url('../../static/bin.png');
                background-size: cover;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
            }

            .mapboxgl-popup {
                max-width: 200px;
            }

            .mapboxgl-popup-content {
                text-align: center;
                font-family: 'Open Sans', sans-serif;
            }
        </style>
        ]

    </head>

    <body>

    <style type="text/css">
        #info {
            display: table;
            position: relative;
            margin: 0px auto;
            word-wrap: anywhere;
            white-space: pre-wrap;
            padding: 10px;
            border: none;
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
            color: #222;
            background: #fff;
        }
    </style>


    <div id="map"></div>
    <pre id="info"></pre>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2MxMTMxIiwiYSI6ImNsZXBqYTNoNjBjcGIzdG81djdwazN4ZnoifQ.aUnfUV2U5KPxxgPni-Ma1Q';

        const geojson = {
            'type': 'FeatureCollection',
            'features': [
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [-3.537214, 50.738053]
                    },
                    'properties': {
                        'title': 'Bin 1',
                        'description': 'Recycle now!'
                    }
                },
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [-3.531119, 50.738331]
                    },
                    'properties': {
                        'title': 'Bin 2',
                        'description': 'Recycle now!'
                    }
                },
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [-3.536073, 50.736282]
                    },
                    'properties': {
                        'title': 'Bin 3',
                        'description': 'Recycle now!'
                    }
                },
                {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [-3.535000, 50.739100]
                    },
                    'properties': {
                        'title': 'Bin 4',
                        'description': 'Recycle now!'
                    }
                }
            ]
        };
        const map = new mapboxgl.Map({
            container: 'map',
// Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [-3.5352823, 50.7371627],
            zoom: 16
        });


        for (const feature of geojson.features) {
            // create a HTML element for each feature
            const el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add it to the map
            new mapboxgl.Marker(el)
                .setLngLat(feature.geometry.coordinates)
                .setPopup(
                    new mapboxgl.Popup({offset: 25}) // add popups
                        .setHTML(
                            `<h3>${feature.properties.title}</h3>
            <p>${feature.properties.description}</p>`
                        )
                )
                .addTo(map);
        }

        for (var i = 0; i < bin_info.length; i++) {
            let lat = parseFloat(bin_info[i][0]);
            let lon = parseFloat(bin_info[i][1]);

            popup = new mapboxgl.Popup({offset: 25}).setText(bin_info[i][2]);

            marker = new mapboxgl.Marker()
                .setLngLat([lon, lat])
                .setPopup(popup)
                .addTo(map);
        }

        map.on('load', () => {
// Add a data source containing GeoJSON data.
            map.addSource('maine', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Polygon',

                        'coordinates': [
                            [
                                [-3.54012113, 50.7393587],
                                [-3.5382954, 50.7381304],
                                [-3.5372081, 50.7394105],

                            ]
                        ]
                    }
                }
            });

            points = [
                [-3.5341631, 50.7418840],
                [-3.5335790, 50.7403587],
                [-3.5312515, 50.7410841],
                [-3.5324632, 50.7422746]
            ]

            map.addSource('exeter', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Polygon',
                        'coordinates': [

                            points

                        ]
                    }
                }
            });
            map.addSource('park3', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Polygon',
                        'coordinates': [
                            [
                                [-3.5293083,50.7364445 ],
                                [-3.5291410,50.7358839],
                                [-3.5298109,50.7360017],
                                [-3.5299208, 50.7363348]
                            ]
                        ]
                    }
                }
            });
            map.addSource('park4', {
                'type': 'geojson',
                'data': {
                    'type':'Feature',
                    'geometry': {
                        'type': 'Polygon',
                        'coordinates': [
                            [
                                [-3.5374679,50.7287101],
                                [ -3.5364497,50.7280259],
                                [-3.5353282,50.7280361],
                                [-3.5356284,50.7289626 ]
                            ]
                        ]
                    }
                }
            });
            map.addSource('park5', {
                'type': 'geojson',
                'data': {
                    'type':'Feature',
                    'geometry': {
                        'type': 'Polygon',
                        'coordinates': [
                            [
                                [-3.5319415, 50.7341617],
                                [-3.5314349, 50.7340736],
                                [-3.5324445, 50.7332753],
                                [-3.5319436, 50.7330960]
                            ]
                        ]
                    }
                }
            });


            map.addSource('park6', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'geometry': {
                        'type': 'Polygon',
                        'coordinates': [
                            [

                                [-3.532288932448523, 50.7359873845501],
                                [-3.5334667225815792, 50.73694531506939],
                                [-3.5340531117119554, 50.736653497251154],


                            ]
                        ]
                    }
                }
            });
            map.addLayer({
                'id': 'park5',
                'type': 'fill',
                'source': 'park5', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });

            map.addLayer({
                'id': 'park6',
                'type': 'fill',
                'source': 'park6', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
            // Add a new layer to visualize the polygon.
            map.addLayer({
                'id': 'maine',
                'type': 'fill',
                'source': 'maine', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
            map.addLayer({
                'id': 'exeter',
                'type': 'fill',
                'source': 'exeter', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
            map.addLayer({
                'id': 'park3',
                'type': 'fill',
                'source': 'park3', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
            map.addLayer({
                'id': 'park4',
                'type': 'fill',
                'source': 'park4', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
        })

        var geolocate = new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
// When active the map will receive updates to the device's location as it changes.
            trackUserLocation: true,
// Draw an arrow next to the location dot to indicate which direction the device is heading.
            showUserHeading: true
        })
        // Add geolocate control to the map.
        map.addControl(
            geolocate
        );

        geolocate.on('geolocate', function (e) {
            var lon = e.coords.longitude;
            var lat = e.coords.latitude
            var currentPosition = [lon, lat];
            console.log(currentPosition);

            $.ajax({
                type: "POST",
                url: "/game/map/",
                data: {
                    'lat': lat,
                    'lon': lon,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data["within_area"]) {
                        console.log("user in area");
                        window.alert(data["within_area"]);
                    } else if (data["too_soon"]) {
                        console.log("user in area too soon");
                        window.alert(data["too_soon"]);
                    } else {
                        console.log("User not within area at this time");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error sending data: " + error);
                }
            });
            /*
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "
            {% url 'map' %}");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", '
            {{ csrf_token }}')
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    console.log(xhr.status);
                    console.log(xhr.response);
                }
            };
            let data = `{"lon": ` + lon + `, "lat":` + lat + `}`;
            xhr.send(data);
            console.log("READY STATE" + xhr.readyState);*/
        });
        // add markers to map

        map.on('load', function () {
            // Add a new GeoJSON source with the geojson object
            map.addSource('markers', {
                type: 'geojson',
                data: geojson
            });

            // Add markers to the map using the GeoJSON source
            map.addLayer({
                id: 'markers',
                type: 'symbol',
                source: 'markers',
                layout: {
                    'icon-image': 'bin.png', // Use the 'bin' image for markers
                    'icon-size': 0.5,
                    'text-field': '{title}',
                    'text-offset': [0, 1],
                    'text-anchor': 'top'
                }
            });
        });


        map.on('mousemove', (e) => {
            document.getElementById('info').innerHTML =
// `e.point` is the x, y coordinates of the `mousemove` event
// relative to the top-left corner of the map.
                JSON.stringify(e.point) +
                '<br />' +
                // `e.lngLat` is the longitude, latitude geographical position of the event.
                JSON.stringify(e.lngLat.wrap());
        });

        
     /* Gets the current geolocation of the user and sends it to the locationParser function.
     * If geolocation is not supported by the browser, displays an error message.
     */

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            document.getElementById("location-button").innerHTML = "Geolocation is not supported by this browser.";
            console.log("Geolocation is not supported by this browser.");
        }
    }

    /* Callback function for getCurrentPosition. Extracts the latitude and longitude from the position object,
     * and passes them to the locationParser function. Also logs the current location to the console.
     * 
     * @param {Object} position - The position object returned by getCurrentPosition.
     */
    function showPosition(position) {
        let lat = position.coords.latitude;
        let lng = position.coords.longitude;
        locationParserToReceiver(lat, lng);
        console.log("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude);
    }
/* Sends a POST request to the specified URL with the provided latitude and longitude data.
     * 
     * @param {number} latitude - The latitude of the user's current location.
     * @param {number} longitude - The longitude of the user's current location.
     */
    function locationParserToReceiver(latitude, longitude){
        $.ajax({
            type: "POST",
            url: "/game/Receiver/",
            data: {
                'latitude': latitude,
                'longitude': longitude,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
            },
            success: function(data) {
                console.log("Data sent successfully");
            },
            error: function(xhr, status, error) {
                console.log("Error sending data: " + error);
            }
        });
    }
    /* Requests the user's geolocation and calls showFinalPosition with the position data.
     * If geolocation is not supported by the browser, displays an error message.
     */
    function getFinalLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showFinalPosition);
        } else {
            document.getElementById("final-location-button").innerHTML = "Geolocation is not supported by this browser.";
            console.log("Geolocation is not supported by this browser.");
        }
    } 
/* Parses the user's position data to retrieve latitude and longitude,
     * and calls locationParserToget_Directions to retrieve directions based on the user's location.
     * @param {Object} position - the user's position data, obtained from navigator.geolocation.getCurrentPosition
     */
    function showFinalPosition(position) {
        let lat = position.coords.latitude;
        let lng = position.coords.longitude;
        locationParserToget_Directions(lat, lng);
        console.log("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude);
    }

    /* Sends an AJAX request to retrieve directions based on the user's location.
     * @param {number} latitude - the user's latitude
     * @param {number} longitude - the user's longitude
     */
    function locationParserToget_Directions(latitude, longitude) {
        $.ajax({
            type: "POST",
            url: "/game/get_Directions/",
            data: {
                'latitude': latitude,
                'longitude': longitude,
                'csrfmiddlewaretoken': '{{ csrf_token }}' // included to prevent CSRF attacks
            },
            success: function(data) {
                console.log("Data sent successfully");
            },
            error: function(xhr, status, error) {
                console.log("Error sending data: " + error);
            }
        });
    }
    </script>

    <style>
        #green-message {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>

    <div id='green-message'></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <button id="location-button" , onclick="getLocation()">Start Exploration</button>
        <button id="final-location-button", onclick="getFinalLocation()">End Exploration</button>
        <style>
            #location-button {
            position: absolute;
            bottom: 10px;
            left: 20%;
            transform: translateX(-5%);
            padding: 10px;
            border: none;
            background-color: #1c1c1c;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    
        #final-location-button {
            position: absolute;
            bottom: 10px;
            right: 5%;
            transform: translateX(5%);
            padding: 10px;
            border: none;
            background-color: #1c1c1c;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
        </style>

    {% if message %}
        <script>
            {#document.getElementById('green-message').innerHTML = message;#}
            {#console.log(message);#}
        </script>
    {% endif %}

    {% load static %}
    <script src="{% static '/js/map.js' %}"></script>
    
    </body>
    </html>


{% endblock content %}