{% extends "game/playerbase.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>News</title>
	<link rel="stylesheet" href="/storefront//playground//static/style.css">
</head>
<body>
	<div class="news">
		<h1 style="margin-left:20px; text-align: center;" >Environment News</h1><br>

		<div class="news-item">
            {% for title, summary, date, i in newsList %}
    

			<div class="newsBlock">
				<p class="news-title"><b>{{ title }}</b></p>
				<span class="news-date">{{ date }}</span><br><br>
				<p class="news-summary">{{ summary }}</p> <br>
				<a class="news-link" href="{{i}}">Read more...</a>
			</div><br>
			{% endfor %}
		</div>
	</div>
</body>
</html>
  
{% endblock %}