{% extends "game/playerbase.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'player/overview.css' %}">

    <br><br>
    <div class="overview">
        <b><h1>Welcome Detective</h1></b>
    </div><br>


    <div id="fotd-container">
        <div id="fact-of-day" style="filter:blur({{ blur_strength }}px)">{{ fact_today }}</div><br>
        <h3 id="level-progress-title">Progress to fact of the day:</h3>

        <div id="progress-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ fact_progress }}%; background-color: rgb(170, 225, 170) !important; color:#484848;">{{ fact_progress }}%</div>
            </div>

        </div>
        <br>

    </div>

    <div style="text-align: center;">
        <h4> Daily points: {{ daily_points }}  </h4>
    </div>

    <body id="challenge-body">

    <h1 id="challenge-bar-title"> Challenges</h1>

    {% for challenge in challenge_list %}
    <b> <div class="challenge-container">
            <div class="challenge {% if challenge.status %}completeBorder{% else %}incompleteBorder{% endif %}">
                <div class="challenge-desc">{{ challenge.description }}</div>
              <b> <div class="challenge-status {% if challenge.status %}completed{% else %}todo{% endif %}">
                    {% if challenge.status %}
                        Status: Complete!
                    {% else %}
                        Status: Incomplete!
                    {% endif %}
                </div></b>
            </div>
        </div>
    {% endfor %}


    <!-- Trigger/Open The Modal -->
<button id="myBtn" class="RiddleBtn">Attempt Daily Riddle</button>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
        <h2>Riddle of the day</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
        <div id="riddle-section">

            {% if not done %}
                <form id="riddle-form">
                    {% csrf_token %}
    
                    <div class="question">
                        {{ question }}
                    </div>
    
                    <input type="radio" name="answer" id="answer1" value="{{ answer1 }}">
                    <label for="answer1">{{ answer1 }}</label><br>
    
                    <input type="radio" name="answer" id="answer2" value="{{ answer2 }}">
            <label for="answer2">{{ answer2 }}</label><br>
    
                    <input type="radio" name="answer" id="answer3" value="{{ answer3 }}">
                    <label for="answer3">{{ answer3 }}</label><br>
    
                    <input type="radio" name="answer" id="answer4" value="{{ answer4 }}">
                    <label for="answer4">{{ answer4 }}</label><br>
    
                    <div style="text-align: center;">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            {% else %}
                <p>Riddle Complete, Come back tomorrow </p>
    
            {% endif %}
    
        </div>
    </div>

  </div>

</div>

<br><br>


    <div style="text-align: center;">
        <h4> Distance Walked: <div id="distanceTraveled">{{ distanceTraveled }} </div> </h4>

    </div>
    <!-- Leaderboards -->

    <div class=leaderboards>

        <h2 class="leaderboard-title">User Leaderboard Top 5:</h2>
        <table id='leaderboard'>
            <thead>
            <tr>
                <th>
                        Username
                    <div class="floatRight">
                        Points
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_acc_leaderboard %}
                <tr>
                    <td>
                            {{ user.username }}
                        <div class="floatRight">
                            {{ user.points }}
                        </div>
                    </td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="leaderboard-title">Accommodation Leaderboard Top 5:</h2>

        <table id='leaderboard'>
            <thead>
            <tr>
                <th>
                    Accommodation
                <div class="floatRight">
                    Points
                </div>
            </th>
            </tr>
            </thead>
            <tbody>
            {% for accom in acc_leaderboard %}
                <tr>
                    <td>
                        {{ accom.accommodation }}
                    <div class="floatRight">
                        {{ accom.points__sum }}
                    </div>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
   

    <script>
        window.addEventListener("load", () => {

            function sendData() {
                const XHR = new XMLHttpRequest();

                // Bind the FormData object and the form element
                const FD = new FormData(form);

                // Define what happens on successful data submission
                XHR.addEventListener("load", (event) => {

                    const response = JSON.parse(event.target.responseText)
                    document.getElementById('riddle-section').innerHTML = response.message
                });

                // Define what happens in case of error
                XHR.addEventListener("error", (event) => {
                    alert('Oops! Something went wrong.');
                });

                // Set up our request
                XHR.open("POST", "{% url 'riddle_handler' %}");

                XHR.setRequestHeader("Accept", "application/json");
                XHR.setRequestHeader("Content-Type", "application/json");
                XHR.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')
                // The data sent is what the user provided in the form
                XHR.send(JSON.stringify(Object.fromEntries(FD)));
            }


            const form = document.getElementById("riddle-form")
            form.addEventListener("submit", (event) => {
                event.preventDefault()
                sendData()

            })


        })


    </script>




<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<script src="{% static 'js/base.js' %}"></script>

{% endblock %}
