{% extends "game/playerbase.html" %}
{% load static %}


{% block content %}


    <div class="overview">
        <h1>Overview</h1>
    </div><br>


    <div id="fotd-container">
        <div id="fact-of-day" style="filter:blur({{ blur_strength }}px)">{{ fact_today }}</div><br>
        <h3 id="level-progress-title">Progress to fact of the day:</h3>

        <div id="progress-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ fact_progress }}%; background-color: rgb(170, 225, 170) !important;">{{ fact_progress }}%</div>
            </div>

        </div>
        <br>

    </div>

    <div style="text-align: center;">
        <h4> Daily points: {{ daily_points }}  </h4>
    </div>

    <style>
        .grid-box {
            width: 150px;
            padding: 10px;
            height: 150px;
        }

        #game-grid {
            border-collapse: collapse;
            width: 100%;
            max-width: 800px;
            margin: auto;
            margin-bottom: 40px;
            text-align: center
        }

        #game-grid-container {
            display: inline-block;
        }

        .flip-card {
            background-color: transparent;
            width: 100%;
            height: 100%;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-color: #bbb;
            color: black;
        }

        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
        }


    </style>
    <div id="game-grid">
        <div class="container" id="game-grid-container">
            <div class="row">
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 grid-box">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Walk 5 km in one day
                            </div>
                            <div class="flip-card-back">
                                <h1>Walk</h1>
                                <p>Hope you enjoyed your walk!</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Green Gratitude
                            </div>
                            <div class="flip-card-back">
                                <h1>GG</h1>
                                <p>That's beautiful!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Cycle for atleast 30 minutes
                            </div>
                            <div class="flip-card-back">
                                <h1>Cycle</h1>
                                <p>Keep it up!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">


                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Visit this charity link</h1>
                                <p>Hopefully you donated!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Explore a green area
                            </div>
                            <div class="flip-card-back">
                                <h1>Green Area</h1>
                                <p>Good work explorer!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 grid-box">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                {#      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">#}
                                Bin 1
                            </div>
                            <div class="flip-card-back">
                                <h1>Bins 1</h1>
                                <p>Recycle in one bin!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <!-- Leaderboards -->

    <div class=leaderboards>

        <h2 class="leaderboard-title">User Leaderboard Top 5:</h2>

        <table id='user_leaderboard'>
            <thead>
            <tr>
                <th>Username</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_acc_leaderboard %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="leaderboard-title">Accommodation Leaderboard Top 5:</h2>

        <table id='accommodation_leaderboard'>
            <thead>
            <tr>
                <th>Accommodation</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for accom in acc_leaderboard %}
                <tr>
                    <td>{{ accom.accommodation }}</td>
                    <td>{{ accom.points__sum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}