{% extends "game/playerbase.html" %}

{% block content %}


        {% load static %}
        
        <link rel="stylesheet" href="{% static '/player/QR.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js"
                integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<br><br><br>
    <h1>QR Scanner</h1>
    <main>
        <div id="reader"></div>
        <form method="post" action="{% url 'update_points' %}">
            {% csrf_token %}
            <button class="updateBtn" type="submit" name="update_points">Update Points</button>
        </form>
    </main>
    <div id="result"></div>


    <script src="{% static '/js/QR.js' %}"></script>

{% endblock %}