{% extends "game/playerbase.html" %}

{% block content %}
<!DOCTYPE html>

{% load static %}
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Unity WebGL Player | ECM2434_Prototype_2</title>
  <link rel="shortcut icon" href="{% static 'unity/TemplateData/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'unity/TemplateData/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <div id="unity-warning"> </div>
    <div id="unity-footer">
      <div id="unity-webgl-logo"></div>
      <div id="unity-fullscreen-button"></div>
      <div id="unity-build-title">ECM2434_Prototype_2</div>
    </div>
    <div id="end-status" style="visibility: hidden"></div>
  </div>
  
  <script src="{% static 'js/unity.js' %}"></script>
  
</body>
</html>
{% endblock %}
